/* .shopping-cart {
    display: flex;
    flex-direction: column;
} */
.cart-table {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
table {
    background-color: white;
    text-align: center;
}

.cart-product-name {
    padding-right: 50px;
}
.name-header {
    display: flex;
    flex: 2;
}
.header {
    padding-right: 15px;
}
.quantity {
    align-self:center;
}
.tf {
    font-weight: bold;
}