.product-card {
    height: 350px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid 1px ;
    background-color: white;
}
.media img {
    width: 100%;
    max-width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
}
.product-details {
    font-size: large;
    font-weight: bold;
}