.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
} .about-info {
    width: 30vw;
}
.about-image {
    width: auto;
}